/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Global Styles
===============
*/
html{
    scroll-behavior: smooth;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    background: hsl(210,36,96);
    color: hsl(210, 61, 16);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
}

h2{
    font-size: 2rem;
}

p{
    margin-bottom: 1.25rem;
    color: hsl(210, 22,49);
}

/* global classes */

.btn{
    text-transform: uppercase;
    background: transparent;
    color: black;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.2rem;
    display: inline-block;
    transition: all 0.3s linear;
    font-size: 0.875rem;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
}

.btn:hover{
    color: white;
    background: black;
}

.btn-white{
    color: white;
    border-color: white;
    border-radius: 0;
    padding: 0.5rem 1rem;
}

.btn-white:hover{
    background: white;
    color: hsla(182, 63%, 54%);
}

/* section */
.section {
    padding-bottom: 5rem;
}

.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width: 992px){
    .section-center{
        width: 95vw;
    }
}

main{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/*
=============== 
Scroll
===============
*/
/* navbar */
nav{
    background: white;
    padding: 1rem 1.5rem;
}

/* fixed nav */
.fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.fixed-nav .links a{
    color: black;
}

.fixed-nav .links a:hover{
    color:turquoise;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-toggle{
    font-size: 1.5rem;
    color: hsl(210,86,17);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}

.nav-toggle:hover{
    color: hsla(182, 63%, 54%);
}

.logo{
    height: 50px;
}

.links-container{
    height: 0;
    overflow:hidden;
    transition: all 0.3s linear;
}

.show-links{
    height: 250px;
}

.links a{
    background: white;
    color: gray;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 1.5;
    display: block;
    transition: all 0.3s linear;
    font-weight: bold;
    padding: 0.75rem 0;
}

.links a:hover{
    color:black;
}

@media screen and (min-width: 800px){
    nav{
        background: transparent;
    }
    .nav-center{
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-header{
        padding: 0;
    }
    .nav-toggle{
        display:none
    }
    .links-container{
        height: auto !important;
    }
    .links{
        display: flex;
    }
    .links a{
        background: transparent;
        color: white;
        font-size: 1.1rem;
        text-transform: capitalize;
        letter-spacing: 0.3rem;
        display: block;
        transition: all 0.3s linear;
        margin: 0 1rem;
        font-weight: bold;
        padding: 0;
    }
    .links a:hover{
        color: white
    }
}

/* hero */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(68,203,212,0.5), rgba(0,0,0,0.7)), url(./hero-bcg.jpeg) center/cover no-repeat;
}

.banner {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.container h1{
    color: white;
    text-transform: capitalize;
}

.container p{
    color: white;
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px){
    .container p {
        max-width: 40rem;
    }
}

/* sections and title */

.title h2{
    text-align: center;
    text-transform: uppercase;
}

.title span{
    color: hsl(182, 63%, 54%);
}

#about,
#services,
#tours {
    height: 80vh;
}

footer {
    background: rgba(0,0,0,0.7);
    padding: 5rem 1rem;
}

footer p{
    color: white;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    margin-bottom: 0;
}

.top-link{
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: hsl(182, 63%, 54%);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    color: white;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}

.show-link{
    visibility: visible;
    z-index: 100;
}

@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}